services:
  client-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: climingo-client-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
    networks:
      - climingo-network
    restart: unless-stopped

networks:
  climingo-network:
    external: true
